# Node modules
**/node_modules/

# Build folders
**/dist/
**/build/
**/.next/

# Environment variables
**/.env
**/.env.local

# Logs
**/*.log

# VS Code
.vscode/

# Mac
.DS_Store

# Coverage
**/coverage/

# TypeScript
**/*.tsbuildinfo